@(username: String, tournament: String = "default")(implicit request: RequestHeader)

@main("Welcome to Play 2.0") {
  <div class="game">
		<div class="row matchinfo">
      
        <div class="span4">
          <strong class="player" id="p1"></strong>
        </div>
        
        <div class="span4" >
          <div class="result">
          </div>
          <div class="progress progress-striped" style="display: none">
            <div class="bar"></div>
          </div>
        </div>
        
        <div class="span4">
          <strong class="player" id="p2"></strong>
        </div>
    </div>
		
    <div class="row" >
        <div class="span12" id="moves">
          <input class="btn" type="button" value="Paper">
          <input class="btn" type="button" value="Scissors">
          <input class="btn" type="button" value="Rock">
        </div>
		</div>
    </div>
 
  <div class="row" >
    <div class="span12">
      <div id="bracket">
        @bracket(username)
      </div>
		</div>
  </div>

	
    <script type="text/html" id="round-template">
      <div class="round" id="round-${round}">
        <div class="nodes" style="margin-top:${mgtop}px">
          
        </div>
      </div>
    </script>
    <script type="text/html" id="game-template">
      <div class="node ui-helper-clearfix">
        <div class="match rounded-5" data-id="${matchid}">
        </div>
        <div class="bracket-${direction}"></div>
      </div>
    </script>   
    <script type="text/html" id="opponent-template">
      <div class="opponent ${nbOpo} {{if winner}}winner{{/if}}" data-id="${name}">
      {{tmpl "#name-template"}}
      <div class="score">${score}</div>
    </script> 
    <script type="text/html" id="line-template">
      <div class="bracket-${type}" style="height: ${height}px"></div>
    </script>
    <script id="name-template" type="text/html">
      {{if name=="@username"}}
        <strong>${name}</strong>
      {{else}}
        <span>${name}</span>
      {{/if}}
    </script>
		
		<script id="result-template" type="text/html">
			<img src="/assets/images/${mine}.png" style="float: left"/>
			<img src="/assets/images/${his}.png" style="float: right"/>

		</script>
		
		<script type="text/javascript">
			var currentUser = "@username"
			var wsURL = "@routes.Application.socketJoin(username, tournament).webSocketURL()"
      var currentTournament = "@tournament"
		</script>
		
		
		
}