@(username: String, tournament: String = "default")(implicit request: RequestHeader)

@main("Welcome to Play 2.0") {
  <div class="game row">
  <div class="span12">
		<div class="row-fluid">
      
        <div class="span4" id="p1">
          P1
        </div>
        
        <div class="span4" >
          <div class="result">
          </div>
          <div class="progress progress-striped">
            <div class="bar"></div>
          </div>
        </div>
        
        <div class="span4" id="p2">
          P2
        </div>
    </div>
    <div class="row" >
        <div class="span12">
          <input class="btn" type="button" value="Paper">
          <input class="btn" type="button" value="Cisor">
          <input class="btn" type="button" value="Rock">
        </div>
		</div>
    </div>
  </div>
  <div class="row-fluid" >
    <div class="span12">
      <div id="bracket">
        @bracket(username)
      </div>
		</div>
  </div>
    
    <script>		 
		var rounds = []

		var currentRound = 0
		var teams = []
		var lastwinners = []
		
		$(function() {
				var databracket = {
					teams: [],
					results: [
					]
				}
        var refresh
				var matchinfo = { rounds : []}
				var results = [
				[[0,0],[0,0]], [0,0]
				]
				rounds[currentRound] = []				
				var players = []
				var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
				var chatSocket = new WebSocket("@routes.Application.socketJoin(username, tournament).webSocketURL()")
				var sendMessage = function(msg) {
          chatSocket.send(msg)
				}
        
        var defaultGame = function(players) {
          

          var nbPlayers = players.length
          var matches = {matches : []}
          //console.log(_.reduce(players, function(p1, p2){return {p1 : {name: p1}, p2 : {name: p2} }}, []))
          //console.log(_.reduce([1,2,3,4], function(p1,p2) {return [p1,p2] }, []))
          for(i = 0; i < players.length; i=i+2){
            matches.matches.push({p1 : {name: players[i]}, p2 : {name: players[i+1]} })
          }
          matchinfo.rounds.push(matches)
          
          //tous les rounds suivant sans resultat
          for(j = players.length/2; j >=2 ; j=j/2) {
            var oneRound = {matches : []}
            //for every round, need j/2 matches
            for(x = 0; x < j/2; x++)
              oneRound.matches.push({p1 : null, p2: null})
            matchinfo.rounds.push(oneRound)
          }
          drawBracket()
        }
				
				var updateAgainst = function(msg) {
          $('#against').hide()
					$('#against')[0].innerText = ""
					$('#against').append(msg)
          $('#against').fadeIn('slow')
				}
				
				var receiveEvent = function(event) {
					var data = JSON.parse(event.data)
					if(data.kind == "newGame") {
            $("#p1").html(data.firstPlayer);
            $("#p2").html(data.secondPlayer);
            launchTimer();
						//updateAgainst(data.firstPlayer+" vs "+data.secondPlayer)
            
					}
					if(data.kind == "lost") {
						updateAgainst("You lost")
					}
					if(data.kind == "youwin") {
            $('.result').show();
						$('.result').html("Gratz, you secured 1st place in @tournament tournament !")
					}
					
					if(data.kind == "join") {
						$('#players').append("<li id="+data.user+">"+data.user+"</li>")
					}
					
					if(data.kind == "infos") {
            if(data.results) {
              console.log(data.results)
              defaultGame(data.members)
              _.each(data.results.rounds, function(round, roundNbr) {
                _.each(round.matches, function(match) {
                  setWinner(match.winner, match.looser, roundNbr)
                });
              });
             }
            else {
            for(i in data.members)
							$('#players').append("<li id="+data.members[i]+">"+data.members[i]+"</li>")
            }              
					}
          
          if(data.kind == "tourneyStart") {
            defaultGame(data.members)
            createDomBracket(data.members)
            $('#players').hide()
          }
					
					if(data.kind == "quit") {
						$('#'+data.user).remove()
            //TODO DELETE delete teams[data.user]
					
         }
         
         if(data.kind == "global") {
          alert(data.message)
          chatSocket.close()
         }
         
          if(data.kind == "result") {
            if(data.winner.name == "@username" || data.looser.name == "@username") {
              $('.result').show();
              var left = data.winner.name == "@username" ? data.winner.move : data.looser.move
              var right = data.winner.name != "@username" ? data.winner.move : data.looser.move
              $('.result').html("<span>"+ left + " vs " + right +"</span>")
              $('.result').append("<br/>"+ (data.winner.name == "@username" ? "You win" : "You lost"))
            }
            setWinner(data.winner, data.looser, data.round) 
            
          }
					
					if(data.kind == "winner") {
            //setWinner(data.user, data.round)
          }
				}
        
        var setWinner = function(winner, looser, round) {
          var position = -1;
          var offset = -1;
          //console.log(winner, winmove)
          _.each(matchinfo.rounds[round].matches, function(match,j) {
            if(match.p1.name == winner.name || match.p2.name == winner.name) {
              position = Math.floor(j/2)
              offset = j%2
              if(match.p1.name == winner.name) {
                match.winner = 1
                match.p1.score = winner.move[0].toUpperCase()
                match.p2.score = looser.move[0].toUpperCase()
              } else {
                match.winner = 2
                match.p2.score = winner.move[0].toUpperCase()
                match.p1.score = looser.move[0].toUpperCase()
              }
              //return;
            }
          })
          /*for(j in matchinfo.rounds[round].matches) {
            if(matchinfo.rounds[round].matches[j].p1.name == user) {
              position = Math.floor(j/2)
              offset = j%2
              matchinfo.rounds[round].matches[j].winner = 1
            }
            if(matchinfo.rounds[round].matches[j].p2.name == user) {
              position = Math.floor(j/2)
              offset = j%2
              matchinfo.rounds[round].matches[j].winner = 2
            }
          }*/ 
          if(matchinfo.rounds[round+1]){
            if(offset == 0)
            matchinfo.rounds[round+1].matches[position].p1 = {name : winner.name}
            else
            matchinfo.rounds[round+1].matches[position].p2 = {name : winner.name}
          }
          
          drawBracket()
        }
				
				var drawBracket = function() {
					$('#jqtourney').jTournament({
              width: 100,
              height: 30,
              border_width: "1",
              background_color: "#c0c0c0",
              text_style: "bold 15px verdana",
              h_spacing: 10,
              v_spacing: 10,
              text_color: "#FFFFFF",
              text_color_loss: "#777777",
              gradient: [{loc: 0, color: '#4F4F4F'},
                 {loc: 0.5, color: '#1B1B1B'},
                 {loc: 0.5, color: '#000000'}],
              score: {active: false}
            }, matchinfo);
				}
				
				var fillMatches = function() {
					for(i=0;i < teams.length; i=i+2) {
							var game = {}
							game.team1 = {id: teams[i], name: teams[i]}
							if(teams[i+1] != null) game.team2 = {id: teams[i+1], name: teams[i+1]}
							rounds[0][rounds[0].length] = game
						}
				}
        
        var launchTimer = function() {
          var pc = 0;
          if(refresh)
          clearInterval(refresh)
          $('.progress').addClass('active');
          $('.result').hide();  
          $('.progress').show();
          var co = this
          refresh = setInterval(function() { 
            pc = pc + 20
            $('.bar').width(pc + "%")
            if(pc == 120) {
              clearInterval(refresh)
              $('.progress').removeClass('active');
              $('.progress').hide();
              $('.result').show();
              $('.result').html("Too slow ... You Lost")
              //if(result)
                
            }
          }, 1000)
          
        }
				
        var updateProgress = function() {
          
        }
        
        
        
        var createDomBracket = function(players) {
          var roundG = $('#round-template').tmpl()
          var round = roundG.find('.nodes')
          for(i = 0, dir=true; i < players.length; i=i+2, dir= !dir){
            var game = $('#game-template').tmpl({direction: dir ? "down" : "up"})
            var opponentOne = $('#opponent-template').tmpl({name: players[i], nbOpo: "one"})
            var opponentTwo = $('#opponent-template').tmpl({name: players[i+1], nbOpo: "two"})
            var gamecontainer = game.find('.match')
            gamecontainer.append(opponentOne)
            gamecontainer.append(opponentTwo)
            round.append(game)
            var line = $('#line-template').tmpl({height: 6, type: dir ? "line" : "space"})
            round.append(line)
          }
         $('.bracket').append(roundG)
         
          for(j = players.length/2; j >=2 ; j=j/2) {
            
          }
         
        }
        
				chatSocket.onmessage = receiveEvent
				$('.btn').bind('click', function(event) {
					sendMessage(JSON.stringify({kind: "move", player: "@username", move: event.currentTarget.value}))
          clearInterval(refresh)
          $('.progress').removeClass('active');
          $('.progress').hide();
          $('.result').html("And the winner is ...")
				});
			});
		</script>
    <script type="text/html" id="round-template">
      <div class="round">
        <div class="nodes" style="margin-top:8px">
          
        </div>
      </div>
    </script>
    <script type="text/html" id="game-template">
      <div class="node ui-helper-clearfix">
        <div class="match rounded-5">
        </div>
        <div class="bracket-${direction}"></div>
      </div>
    </script>   
    <script type="text/html" id="opponent-template">
      <div class="opponent ${nbOpo} {{if winner}}winner{{/if}}" data-id="${name}">
      <span>${name}</span>
      <div class="score">${score}</div>
    </script> 
    <script type="text/html" id="line-template">
      <div class="bracket-${type}" style="height: ${height}px"></div>
    </script>
}